/Default/
/.cproject
/.project
/libfluidsynth.dll
/libgcc_s_dw2-1.dll
/libglib-2.0-0.dll
/libgthread-2.0-0.dll
/libiconv-2.dll
/libintl-8.dll
/libpcre-1.dll
/libstdc++-6.dll
/libwinpthread-1.dll
/MiniMIDI.exe
